.background__banner {
  background-image: url(../assets/kompetencer_faldskaerm.PNG);
  width: 100vw;
  height: 30vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.background__banner h1 {
  font-size: 3.5rem;
  font-family: "Poppins";
  font-weight: 800;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.kompetencer__intro {
  background-color: #55407d;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
  font-size: calc(0.7rem + 0.6vw);
  letter-spacing: 0.05em;
  line-height: 1.6em;
  padding: 1.5rem;
  margin-top: 3em;
  font-family: "Open Sans";
}

.kompetencer__list {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.kompetencer__list-item:hover .kompetencer__list-underline {
  background-color: #ffbd59;
  transition: ease-in-out 0.3s;
}

.kompetencer__list-item:hover p {
  color: #ffbd59;
  transition: ease-in-out 0.3s;
}

.kompetencer__list-item:hover i {
  color: #ffbd59;
  transition: ease-in-out 0.3s;
}

.kompetencer__list i {
  font-size: 5rem;
  color: white;
}

.kompetencer__list-underline {
  height: 0.4rem;
  width: 100%;
  margin-top: 0.3rem;
  background-color: white;
}

.kompetencer-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.6em;
  width: 90%;
  background-color: #55407d;
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 2em;
}

.card img {
  width: 50%;
  height: auto;
  border-radius: 30px;
  min-width: 50%;
}

.card h2 {
  font-size: 2.3rem;
  font-family: "Poppins";
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.card p:first-of-type {
  color: #ffbd59;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.3rem;
}

.card p:last-child {
  font-size: calc(0.7rem + 0.6vw);
  padding-top: 1em;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}

.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 1em;
}

.kontakt-os__button {
  color: #011f49;
  background-color: #ffbd59;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 8px;
}

.kontakt-os__button:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    width: 90%;
    background-color: #55407d;
    border-radius: 30px;
    padding: 2em;
    margin-bottom: 2em;
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .card h2 {
    font-size: 2.6rem;
    font-family: "Poppins";
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
  }

  .card p:first-of-type {
    color: #ffbd59;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.45rem;
  }

  .card p:last-child {
    font-size: calc(1rem + 0.6vw);
    padding-top: 1em;
    letter-spacing: 0.05em;
    line-height: 1.6em;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }

  .kompetencer__list i {
    font-size: 4rem;
  }

  .kompetencer__list {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
  }

  .kompetencer__list-underline {
    height: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    background-color: white;
  }

  .kompetencer__paragraph {
    font-size: 1.65rem;
    width: 45ch;
    top: 53.7%;
    text-align: center;
    padding: 28px 12px;
  }
}
