.background__banner {
  background-image: url(../assets/followthewhiterabbit.png);
  width: 100vw;
  height: 30vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2em;
}

.background__banner h1 {
  font-size: 3.5rem;
  font-family: "Poppins";
  font-weight: 800;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.om-os__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.6em;
  width: 90%;
  background-color: #55407d;
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 2em;
}

.card img {
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.card__special ul,
.card__special p:not(:first-of-type) {
  font-size: calc(0.7rem + 0.6vw);
  padding-top: 1em;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}

.card h2 {
  font-size: 2.3rem;
  font-family: "Poppins";
  font-weight: 800;
  line-height: initial;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
}

.card p:first-of-type {
  color: #ffbd59;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.3rem;
}

.card p:last-child {
  font-size: calc(0.7rem + 0.6vw);
  padding-top: 1em;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}

.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.kontakt-os__button {
  color: #011f49;
  background-color: #ffbd59;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 8px;
}

.kontakt-os__button:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    width: 90%;
    background-color: #55407d;
    border-radius: 30px;
    padding: 2em;
    margin-bottom: 2em;
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .card h2 {
    font-size: 2.6rem;
    font-family: "Poppins";
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
  }

  .card p:first-of-type {
    color: #ffbd59;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.45rem;
  }

  .card p:last-child {
    font-size: calc(1rem + 0.6vw);
    padding-top: 1em;
    letter-spacing: 0.05em;
    line-height: 1.6em;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}
